@tailwind base;
@tailwind components;
@tailwind utilities;

.chaya-editor-font-size-dropdown ul {
    max-height: 35vh!important;
}
.chaya-editor-font-size-dropdown button {
    padding: 0.25rem 0.5rem!important;

}

.chaya-editor-container {

    &::-webkit-scrollbar {
        width: 0.6rem;
        @apply dark:bg-neutral-600/80 bg-neutral-200/75;
    }
    &::-webkit-scrollbar-thumb {
        @apply dark:bg-neutral-500 bg-neutral-300;
    }

    @apply text-base;

    ol, ul {
        @apply list-inside space-y-0.5 my-2;
        ol, ul {
            @apply ml-4 list-inside space-y-0.5;
        }
    }
    ul {
        @apply list-disc;
    }
    ol {
        @apply list-decimal;
    }
    & li > p {
        display: inline;
    }

    & blockquote {
        @apply border-l-4 border-gray-300 pl-2;
    }

    h1 {
        @apply text-2xl font-bold;
    }

    h2 {
        @apply text-xl font-bold;
    }

    h3 {
        @apply text-lg font-bold;
    }

    a {
        @apply text-blue-500 underline;
    }

    .task-list {
        @apply list-none;
        li label {
            @apply mr-2;
        }
        li * {
            @apply inline;
        }
    }

    .ProseMirror {
        outline: none !important;
        min-height: 30vh;
    }

    table {
        @apply table-auto;
        th {
            @apply bg-neutral-200 dark:bg-neutral-600;
        }
        td {
            @apply border border-neutral-200 dark:border-neutral-600;
        }
    }
    .chaya-editor-table-add-column, .chaya-editor-table-add-row {
        @apply flex items-center justify-center bg-neutral-200 dark:bg-neutral-600 rounded invisible text-lg cursor-pointer;
    }
    .chaya-editor-table-add-row {
        @apply flex-col h-[22px] w-full mt-2;
    }
    .chaya-editor-table-add-column {
        @apply w-[20px];
    }
    .chaya-editor-table {
        @apply relative w-fit;
    }
    .chaya-editor-table:hover {
        .chaya-editor-table-add-column, .chaya-editor-table-add-row {
            @apply visible;
        }
    }
    .chaya-editor-table-wrapper {
        @apply flex gap-2;
    }
}